<div class="header">
<mat-card>
    <mat-card-title>The Book Store</mat-card-title>
</mat-card>
</div>
<div class="body">
    <mat-card-content>
        <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Username" formControlName="username">
            </mat-form-field>
          </p>

          <p>
            <mat-form-field>
              <input type="password" matInput placeholder="Password" formControlName="password">
            </mat-form-field>
          </p>

          <div class="button">
            <button type="submit" mat-raised-button color="accent">Login</button>
          </div>
    </mat-card-content>
</div>