<form (submit)="registerUser($event)">
<div class="body">
    <mat-card-content>
        <div fxLayout="column" fxLayoutAlign="center center">
            
            <mat-form-field>
                <input type="text" matInput placeholder="First Name" id="FirstName">
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="Last Name" id="LastName">
            </mat-form-field>
            <mat-form-field>
                <input type="email" matInput placeholder="Email Id" id="Emailid">
            </mat-form-field>
            <mat-form-field>
                <input type="password" matInput placeholder="Password" id="password">
            </mat-form-field>
            <mat-form-field>
                <input type="password" matInput placeholder="Confirm Password" id="cpassword">
            </mat-form-field>
            
            <div fxLayout="row" fxLayoutAlign="center center">
                <div class="button">
                    <button type="submit" mat-raised-button color="accent">Create User</button>
                </div>

                <nav>
                    <button mat-raised-button color="accent"><a routerLink="/loginpage"> Login </a> </button>
                </nav>
            </div>
        </div>
    </mat-card-content>
</div>
</form>